@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

.custom-font {
  font-family: 'Times', Arial, sans-serif;
  font-weight: bold;
}

.custom-h1 {
  
  font-weight: bold;
  display: inline-block; /* Assurez-vous que le h1 n'occupe que l'espace nécessaire */
}

.blue { color: blue; }
.white { color: white; }
.red { color: red; }