@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #858585;
}

*::-webkit-scrollbar-track:hover {
  background-color: #DCDCDC;
}

*::-webkit-scrollbar-track:active {
  background-color: #DCDCDC;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #373737;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #373737;
}


.custom-font {
  font-family: 'Times', Arial, sans-serif;
  font-weight: bold;
}

.custom-h1 {
  
  font-weight: bold;
  display: inline-block; /* Assurez-vous que le h1 n'occupe que l'espace nécessaire */
}

.blue { color: blue; }
.white { color: white; }
.red { color: red; }
